version: "3.9"

services:
  redis:
    image: redis:7.2-alpine
    container_name: redis-server
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./data/redis:/data
    command:
      ["redis-server", "--appendonly", "yes", "--appendfsync", "everysec"]

  whatsapp-service:
    build: .
    container_name: whatsapp-web-service
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - redis
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev
